* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}

/* menu style */

.menuu li a {
  font-size: 1.1rem !important;
}

.banner {
  background-image: url(IMAGE/ja2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
}
.contact {
  margin-top: 110px;
  margin-left: 160px;
  margin-right: 160px;
}
.margin {
  margin-top: 100px;
}
.spanColor {
  color: red;
}
.contactForm p i {
  color: rgb(130, 154, 236);
}
.map iframe {
  width: 100%;
}
.contactLable {
  padding-left: 0px;
}
